body {
    padding: 0;
    margin: 0;
    background: #4a4a4a;
    font-family: sans-serif, Georgia, Arial;
    overflow: hidden;
}

textarea {
    display: block;
    resize: none;
    padding: 0;
    border: 0;
}

#vue_container {
    position: relative;
    background-size: cover;
    background-position-x: right;

    font-size: 0;
}

.cont_block {
    position: relative;
    box-shadow: 0 0 1vh rgba(0, 0, 0, .8);
}

.full_screen {
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.textrow {
    display: flex;
    top: 16vh;
    left: calc(50vw - 85vh);
    height: 10vh;
    width: 170vh;
    overflow: hidden;
    background: #AD99EB;

    font-size: 0;
    line-height: 10vh;
    font-family: Courier, monospace, 'Lucida Console';
}

.textrow > span {
    font-size: 8.33vh;
    white-space: pre;
}

.side_top,
.side_left,
.side_right {
    position: relative;
}

.side_top {
    height: 26vh;
}

.side_left {
    width: calc(50vw - 50vh);
}

.side_right {
    top: -54vh;
    left: calc(50vw - 50vh);
    height: 54vh;
    width: 135vh;
}

.text_pass {
    background: #99EB99;
}

.text_error {
    background: #EB9999;
}

.text_require {
    background: #AD99EB;
    width: 85vh;
}

.stats {
    top: 2vh;
    left: 2vh;
    height: 20vh;
    width: 133vh;
}

.stats > div {
    display: flex;
}

.stats > div > span {
    flex: 1;
    line-height: 10vh;
    font-size: 6vh;
    text-align: center;
}

#reset_btn,
#new_text_btn {
    left: calc(50vw - 85vh);
    margin-top: 2vh;
    height: 6vh;
    width: 35vh;
    background: #EEEEEE;
    cursor: pointer;

    line-height: 6vh;
    font-size: 4.5vh;
    text-shadow: 0 0 1vh rgba(0, 0, 0, .3);
    text-align: center;
}

#settings_panel {
    left: calc(50vw - 85vh);
    margin-top: 2vh;
    height: 23vh;
    width: 33vh;
    padding: 1vh;
    background: #EEEEEE;

    font-size: 3vh;
}

#settings_panel > div {
    height: 4vh;
}

#links {
    left: calc(50vw - 85vh);
    margin-top: 2vh;
    height: 9vh;
    width: 35vh;
    background: #EEEEEE;

    font-size: 4vh;
}

#links a {
    display: block;
    height: 4vh;
    width: 13vh;
    color: #444444;

    text-decoration: none;
    text-align: center;
}

#links a:hover {
    text-shadow: 0 0 .4vh rgba(0, 0, 0, .8);
}

#settings_panel input[type="checkbox"],
#settings_panel input[type="radio"] {
    height: 2.5vh;
    width: 2.5vh;
}

#settings_panel input[type="number"] {
    height: 2.5vh;
    width: 20vh;
    border: 0;
    padding: 0;

    font-size: 2.5vh;
}

.text_inp {
    top: 4vh;
    left: 2vh;
    height: 30vh;
    width: 133vh;

    font-size: 3vh;
}

.stat_0 { background: hsl( 30, 80%, 80%); }
.stat_1 { background: hsl( 90, 80%, 80%); }
.stat_2 { background: hsl(150, 80%, 80%); }
.stat_3 { background: hsl(210, 80%, 80%); }
.stat_4 { background: hsl(270, 80%, 80%); }
.stat_5 { background: hsl(330, 80%, 80%); }

.stat_0_animate {
    animation: key_animate_alert 1s forwards;
}

@keyframes key_animate_alert {
    from { background: #FF0000; }
    to { background: hsl( 30, 80%, 80%); }
}

/*otaku*/

.otaku_line {
    position: absolute;
    z-index: 2;
    right: 0;
    height: 100vh;
    width: 1px;
}

.content_main {
    transition: transform .5s linear;
}

.otaku_mode {
    transform: translate(-15vw) scale(.7);
}

.otaku_menu {
    position: absolute;
    z-index: 1;
    right: 0;
    height: 100vh;
    width: 0;
    background: #ccc;
    transition: width .2s linear;
    overflow-y: scroll;
    overflow-x: hidden;
}

.otaku_menu label,
.otaku_imports {
    font-size: 2vh;
}

.otaku_menu_open {
    width: 18vw;
    padding: 0 1.5vw 0 .5vw;
}

.bg_images_list > div {
    position: relative;
    width: 18vw;
    height: 10.125vw;
    background-size: cover;
    background-position-x: right;
}

.add_new_bg {
    position: absolute;
    z-index: 3;
    background: #ccc;
    height: 8vh;
    width: 62vh;
    left: calc(50vw - 20vh);
    bottom: 0;
}

.add_new_bg > input[type="text"] {
    position: absolute;
    top: 1vh;
    left: 1vh;
    height: 6vh;
    width: 60vh;
    border: 0;
    padding: 0;

    font-size: 4vh;
    line-height: 6vh;
}

.add_plus_panel {
    background-image: url(/images/add_plus.svg);
    background-size: cover;
    background-position-x: right;
}

.del_from_otaku_list_btn {
    position: absolute;
    height: 1.5vw;
    width: 1.5vw;
    top: 0;
    left: 0;
    background-image: url(/images/del_btn.svg);
    background-size: cover;
    cursor: pointer;
}



/**********************************
    (width * 16) < (height * 9)
**********************************/

@media (max-width: 177.77777vh) {

.cont_block {
    box-shadow: 0 0 .5625vw rgba(0, 0, 0, .8);
}

.textrow {
    top: calc(50vh - 19.1vw);
    left: 2.1vw;
    height: 5.5vw;
    width: 95.8vw;
    line-height: 5.5vw;
}

.textrow > span {
    font-size: 4.7vw;
}

.side_top {
    height: calc(50vh - 13.6vw);
}

.side_left {
    width: 21.87777vw;
}

.side_right {
    top: -30.375vw;
    left: 21.87777vw;
    height: 30.375vw;
    width: 74.8125vw;
}

.text_require {
    width: 48.3vw;
}

.stats {
    top: 1.125vw;
    left: 1.125vw;
    height: 11.25vw;
    width: 74.8125vw;
}

.stats > div > span {
    line-height: 5.625vw;
    font-size: 3.375vw;
}

#reset_btn,
#new_text_btn {
    left: 2.1vw;
    margin-top: 1.125vw;
    height: 3.39999vw;
    width: 19.77777vw;

    
    text-shadow: 0 0 .5625vw rgba(0, 0, 0, .3);
    line-height: 3.39999vw;
    font-size: 2.5vw;
}

#settings_panel {
    left: 2.1vw;
    margin-top: 1.125vw;
    height: 12.9375vw;
    width: 18.65277vw;
    padding: .5625vw;

    font-size: 1.6875vw;
}

#settings_panel > div {
    height: 2.25vw;
}

#links {
    left: 2.1vw;
    margin-top: 1.125vw;
    height: 5.0625vw;
    width: 19.77777vw;

    font-size: 2.25vw;
}

#links a {
    height: 2.25vw;
    width: 7.3125vw;
}

#links a:hover {
    text-shadow: 0 0 .225vw rgba(0, 0, 0, .8);
}

#settings_panel input[type="checkbox"],
#settings_panel input[type="radio"] {
    height: 1.40625vw;
    width: 1.40625vw;
}

#settings_panel input[type="number"] {
    height: 1.40625vw;
    width: 11.25vw;

    font-size: 1.40625vw;
}

.text_inp {
    top: 2.25vw;
    left: 1.125vw;
    height: 16.875vw;
    width: 74.8125vw;

    font-size: 1.6875vw;
}

}/*end media*/