body {
    background: #4a4a4a;
    padding: 0;
    margin: 0;
    font-family: sans-serif, Georgia, Arial;
    overflow: hidden;
}

textarea {
    display: block;
    resize: none;
    padding: 0;
    border: 0;
}

#vue_container {
    position: relative;
    font-size: 0;
}

.cont_block {
    position: relative;
    box-shadow: 0 0 1vh rgba(0, 0, 0, .8);
}

.full_screen {
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.textrow {
    display: flex;
    top: 16vh;
    left: calc(50vw - 85vh);
    height: 10vh;
    width: 170vh;
    overflow: hidden;
    background: #AD99EB;

    font-size: 0;
    line-height: 10vh;
    font-family: Courier, monospace, 'Lucida Console';
}

.textrow > span {
    font-size: 8.33vh;
    white-space: pre;
}

.side_top {
    position: relative;
    height: 26vh;
}

.side_left {
    width: calc(50vw - 50vh)
}

.side_right {
    height: 54vh;
    width: 135vh;
}

.side_left,
.side_right {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.text_pass {
    background: #99EB99;
}

.text_error {
    background: #EB9999;
}

.text_require {
    background: #AD99EB;
    width: 85vh;
}

.stats {
    top: 2vh;
    left: 2vh;
    height: 20vh;
    width: 133vh;
}

.stats > div {
    display: flex;
}

.stats > div > span {
    flex: 1;
    line-height: 10vh;
    font-size: 6vh;
    text-align: center;
}

#reset_btn,
#new_text_btn {
    left: calc(50vw - 85vh);
    margin-top: 2vh;
    height: 6vh;
    width: 35vh;
    background: #EEEEEE;
    cursor: pointer;

    line-height: 6vh;
    font-size: 4.5vh;
    text-shadow: 0 0 1vh rgba(0, 0, 0, .3);
    text-align: center;
}

#settings_panel {
    left: calc(50vw - 85vh);
    margin-top: 2vh;
    height: 23vh;
    width: 33vh;
    padding: 1vh;
    background: #EEEEEE;

    font-size: 3vh;
}

#settings_panel > div {
    height: 4vh;
}

#settings_panel input[type="checkbox"],
#settings_panel input[type="radio"] {
    height: 2.5vh;
    width: 2.5vh;
}

#settings_panel input[type="number"] {
    height: 2.5vh;
    width: 20vh;
    border: 0;
    padding: 0;

    font-size: 2.5vh;
}

.text_inp {
    top: 4vh;
    left: 2vh;
    height: 30vh;
    width: 133vh;

    font-size: 3vh;
}

.stat_0 { background: hsl( 30, 80%, 80%); }
.stat_1 { background: hsl( 90, 80%, 80%); }
.stat_2 { background: hsl(150, 80%, 80%); }
.stat_3 { background: hsl(210, 80%, 80%); }
.stat_4 { background: hsl(270, 80%, 80%); }
.stat_5 { background: hsl(330, 80%, 80%); }

.stat_0_animate {
    animation: key_animate_alert 1s forwards;
}

@keyframes key_animate_alert {
    from { background: #FF0000; }
    to { background: hsl( 30, 80%, 80%); }
}